/*
	* _header.scss - UI Header Component
	*
*/

.#{$kr}-header{  

    &__top{       
        height: 45px;
        padding: 0 20px;
        &:after{
            @extend #after-clear;
        }
    }

    &__bottom{    
        position: relative;
       	background-color:  map-get($theme, gray)!important;
        height: 45px;
        &:after{
            @extend #after-clear;
        }
    }

    &__logo{
        display: block;
        position: absolute;
        width: 180px;
        height: 64px;
        top: -8px;
        left: 1rem;
        z-index: 200;

        img{
            height: 100%;
            width:100%;
        }
    }

    &__hamburger{
        display: none;      
        position: absolute;
        right: 10px;
        top: 10px;

        .fa{
            font-size: 22px;
        }

        &:hover{
            .fa{
                color:map-get($theme,pri-color);
            }
        }
    }
}

/*******    Small Devices/Phone ***********************/

@media(max-width: 960px) {
    .#{$kr}-header{  
        &__hamburger{
            display: inline-block;  
        }
    }
}