.#{$kr}{
	&-tile{
		&-wrapper{	
			&:after{
				@extend #after-clear;
			}
		}
		@include square(130px);
		display: inline-block;  
		background-color: #dddee0;
   		//border: solid 1px blue;    
    	float: left;
		margin: 0 15px 15px 0;
		cursor:pointer;
		transition: all  $tr-medium;
		&:hover{
			background-color: #515b65;
		}
	}	
}